body{
    background-color: black;
    background-image: url(./images/fondo\ cyberpunk.jpg)
}
.titulo-regis{
display:flex;
justify-content: flex-start; 
}  
.registro-caja{
    background-color: rgba(43, 83, 136, 0.777);
    margin: 50px 250px 20px 250px;
padding:200px 200px;  
color: white;
text-align: center;
}



@media screen and (max-width:1200px){
    body{
        background-color: black;
        background-image: url(./images/fondo\ cyberpunk.jpg);
        background-size: cover;
        background-size: 200%;
        
    }
.registro-caja{
    
    display: grid;
    grid-template-columns: 1, 1fr;
    margin: 30px 30px 30px 30px;
    
}
}

@media screen and (max-width:700px){
    .registro-caja{
        padding:100px 100px; 
        text-align: center;
        margin: 10px; 
    }

}